@media only screen and (max-width: 1500px) {
	.circle-container {
		padding-top: 13%;
	}
	.full-circle {
    background-color:#c06;
    height:150px;
    width:150px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
    margin-left: auto;
    margin-right: auto;
	}
	.page-menu {
		padding-top: 10%;
		padding-bottom: 8%;
		text-align: center;
		font-family: proxima-nova-sc-osf-ext-cond, Helvetica neue, Arial, sans-serif;
		font-size: 100%;
		line-height: 1.3em;
		font-size: 20px;
		line-height: .5;
		outline-color: rgb(37, 37, 37);
		outline-style: none;

	}
	.main-paragraph {
		font-family: ff-meta-serif-web-pro, Georgia, Times, serif;
		text-align: center;
		padding-left: 18%;
		padding-right: 18%;
		padding-top: 5%;
		padding-bottom: 8%;
		letter-spacing: 1px;
		line-height: 1.3em;

	}
	.page-menu p {
		color: #484848;
	}
	
	.fc-image {
		padding-top: 5%;
		min-width: 60%;
	}

	.fc-image img {
		display: block;
		margin: 0 auto;
	}
	.footer {
		font-size: 12px;
		text-align: center;
		padding-left: 18%;
		padding-right: 18%;
		padding-top: 5%;
		letter-spacing: 1px;
		font-family: ff-meta-serif-web-pro, Georgia, Times, serif;
		line-height: 1.3em;
	}
	.inline-menu {
		display: none;
	}
	p:hover { 
    color: #c06;
	}
}

@media only screen and (min-width: 1500px) {
	.page-menu {
		display: none;
	}
	.circle-container {
		padding-top: 5%;
		padding-left: 10%;
	}
	.full-circle {
    background-color:#c06;
    height:200px;
    width:200px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    float: left;
    }
	li {
		list-style-type: none;
		display: inline-block;
		padding-right: 4%;
		font-family: proxima-nova-sc-osf-ext-cond, Helvetica neue, Arial, sans-serif;
		font-size: 100%;
		line-height: 1.3em;
		font-size: 20px;
	}
	.inline-menu {
		width: 50%;
		padding-top: 5%;
		float: right;


	}
	.main-paragraph {
		clear: both;
		text-align: center;
		padding-left: 11%;
		padding-right: 11%;
		font-family: ff-meta-serif-web-pro, Georgia, Times, serif;
		letter-spacing: 1px;
	}
	.first-break {
		padding-top: 20%;
		padding-bottom: 5%;
	}
	.second-break {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.fc-image img {
		display: block;
		margin: 0 auto;
	}
	.footer {
		font-size: 14px;
		text-align: center;
		padding-top: 5%;
		letter-spacing: 1px;
		font-family: ff-meta-serif-web-pro, Georgia, Times, serif;
		line-height: 1.3em;
	}
	li:hover { 
    color:  #c06;
	}

}

@media only screen and (min-width: 900px) {
	.circle-container {
		padding-top: 13%;
	}
	.full-circle {
    background-color:#c06;
    height:200px;
    width:200px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    margin-left: auto;
    margin-right: auto;	
	}

}



.name {
	font-family: ff-meta-serif-web-pro, Georgia, Times, serif;
	color: #c06;
}
.full-circle {
   	opacity: 1;
   	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
   	}
.full-circle:hover {
    opacity: 0.5;
}







